@tailwind base;
@tailwind components;
@tailwind utilities;
.prose table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .prose table td,
  .prose table th {
    white-space: normal;
    min-width: 100px;
    max-width: 250px;
    word-break: break-word;
  }